div.qui-controls-formlist-entry {
    background: rgba(0,0,0,0.05);
    padding: 0;
    margin: 50px 0 0;
    border: 1px solid #ccc;;
    position: relative;
}

div.qui-controls-formlist-entry:last-child {
    border-bottom: 1px solid #ccc;
}

div.qui-controls-formlist-entry-data {
    padding: 0;
    width: 100%;
}

.qui-controls-project-site-input.box {
    display: flex;
    width: 100%;
}

.qui-controls-project-media-input-path {
    background: #fff;
}

.qui-controls-formlist-entry-delete {
    position: absolute;
    right: -1px;
    top: -32px;
    padding: 0 !important;
    border: 1px solid #ccc;
    border-bottom: none;
    background: rgba(0,0,0,0.05);
}

.qui-controls-formlist-entry-delete .qui-button {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: #c8cdde;
    color: #333;
    background: none;
}

.qui-controls-formlist-entry-delete .qui-button:hover {
    background: #a6abbd;
}


/* price table entry */
.quiqqe-pricetable-bricks-entry-data {
    max-width: 700px;
    width: 100% !important;
}

div.quiqqe-pricetable-bricks-entry label {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 5px 10px;
    margin: 0;
}

div.quiqqe-pricetable-bricks-entry label:nth-child(2n + 2) {
    background: rgba(255,255,255,0.6);
}

.quiqqe-pricetable-bricks-entry .entry-title {
    width: 150px;
    margin-right: 10px;
}

.quiqqe-pricetable-bricks-entry .entry-input {
    width: calc(100% - 160px);
}

.entry-title-features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

a.qui-button.features-button {
    margin-top: 10px;
}

.features-list {
    padding-left: 20px;
    margin: 0;
}

.features-list li {
    padding: 3px 0px;
}

/* features popup */
.features-popup header {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.popup-features-input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.quiqqe-pricetable-bricks-entry input,
.quiqqe-pricetable-bricks-entry textarea {
    max-width: 100%;
    width: 100%;
}